body{
    position: relative;
   background-color: #A2B3C3;  width: 1900px;
   height: 1200px;
}


// left: -1306px;
// top: 7973px;
// border-radius: 0px;

// @font-face {
//     font-family: 'Ubuntu';
//     src: url('../assets/Ubuntu-Light.ttf');
//     font-style:normal;
//     font-weight: normal;
// }

@font-face {
    font-family: 'Inter';
    src: url('../assets/Inter-Bold.ttf');
    font-style:normal;
    font-weight: normal;
}

