.container{
    width: 457px;
    height: 324px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    
}

.cross{
    background: transparent;
    border:0;
    padding:0;
    outline:none;
    margin:0;
    // opacity: 0;
}

.cross_button{
    display: flex;
    justify-content: end;
    padding-right: 84px;
    padding-top:68px;
}


.email_container{
    margin-top: 42px;
    text-align: start;
    margin-left: 76px;
    p{
        font-size: 15px;
        color: rgba(126, 141, 242, 1);
    }
}


.input_email{
    display: flex;
    margin-left: 7.84px;
}

.email_icon{
    height: 15px;
    width: 18px;
}

.e_mail, .password{
    background: transparent;
    border:none;
    border-radius: 3px;
    padding-left: 10px;
    font-size:15px;
    margin-bottom: 12px;
    }

    .line{
        border-bottom: 1px solid rgba(105, 105, 105, 1);
        width: 375px;
        left: 83px;
        top: 294px;
        margin-bottom: 30px;
        }
        

        .login_button{
            width: 386px;
            height: 52px;
            background: linear-gradient(91.74deg, #7E8DF2 23.76%, #8ABAFF 66.55%, #AB9DFF 104.82%);
            border-radius: 100px;
            font-size: 15px;
            color: white;
        }

    